<!DOCTYPE html>
{% load base64_encode %}

<html>
<head>
    <meta charset="uft-8">
    <title>Image Recommendation System</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            padding: 20px;
        }

        .uploaded-img {
            width: 300px;
            height: auto;
        }

        .button-container {
            margin-top: 20px;
        }

        .button-container button {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <h1>Welcome to the Image Recommendation System!</h1>
    <br/>
    <form action="{% url 'recommend' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>
    <br/>
    {% if img_data %}
        <img src="data:image/jpeg;base64,{{ img_data|base64_encode }}" alt="Uploaded Image" class="uploaded-img">
        <br/>
        <div class="button-container">
            <button><a href="{% url 'recommend_similar' %}">Recommend similar images for me!</a></button>
            <button><a href="{% url 'transfer_styles' %}">Transfer styles for me!</a></button>
        </div>
    {% endif %}
</body>

</html>
