<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title>Image Recommendation System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div>
        <a href="/" class="btn btn-info">Go back to main page</a>
    </div>
    <div class="body-container">
        <div class="container button-container">
            <h1 class="text-center mt-5">Welcome to the Image Recommendation System!</h1>
            <br/>
            <form action="/upload_content_style_images" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <a>Content Image</a>
                    <input type="file" name="content_image" accept="image/*" required>
                </div>
                <div>
                    <a>Style Image</a>
                    <input type="file" name="style_image" accept="image/*" required>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <br/>
            {% if content_image and style_image %}
                <img src="data:image/jpeg;base64,{{ content_image|base64_encode }}" alt="Uploaded Image" class="uploaded-img">
                <img src="data:image/jpeg;base64,{{ style_image|base64_encode }}" alt="Uploaded Image" class="uploaded-img">
                <br/>
                <div class="text-center mt-3">
                    <a href="/transfer_given_style" class="btn btn-info">Transfer styles for me!</a>
                </div>
            {% endif %}

            {% if images_output_list %}
                <div class="row mt-5">
                    {% for img_output in images_output_list %}
                        <div class="col-md-4">
                            <img src="data:image/jpeg;base64,{{ img_output|base64_encode }}" alt="Uploaded Image" class="uploaded-img">
                        </div>
                    {% endfor  %}
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
